.footer-container {
    display: flex;
    justify-content: space-between;
}

.go-top {
    position: fixed;
    right: 128px;
    top: 80%;
    cursor: pointer;
    display: none;
    width: 40px;
    height: 40px;
    background-color: #aaaaaa;
    border-radius: 50%;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: rgb(255, 255, 255);
}

.go-top--show {
    display: block;
}
